
.container-formulario{
    width: 100%;
    padding: 1rem;
    background-color: antiquewhite;
}

.container-formulario mat-form-field{
    width: 300px;
}


.container-formulario button{
    margin-right: 1rem;
}

