<form (submit)="onSubmit()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input formControlName="nombre" matInput />
        <mat-error>El Campo Nombre es Requerido!!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input formControlName="fechaNacimiento" matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <app-input-img [urlImagenActual]="modelo?.foto" (archivoSeleccionado)="archivoSeleccionado($event)"></app-input-img>
    <div>
        <button color="primary" mat-flat-button [disabled]="form.invalid">Guardar Cambios</button>
        <a mat-stroked-button routerLink="/autor/listado-autores">Cancelar</a>
    </div>
</form>
