<mat-toolbar color="primary">
    <span>
      <a mat-button routerLink="libros">
        <mat-icon>book</mat-icon>Listado de Libros
      </a>
      <a mat-button routerLink="libros/buscar">
        <mat-icon>search</mat-icon>Buscar Libros
      </a>
      <a mat-button routerLink="/autor/listado-autores">
        Autores
      </a>
      <a mat-button routerLink="/categorias">
        Categorias
      </a>
      <a mat-button routerLink="/librerias">
        Librerías
      </a>
      <a mat-button routerLink="/libros/crear-libro">
        Crear Libros
      </a>
    </span>
  </mat-toolbar>
